include profile
  
  block loadStyle
    link(rel="stylesheet" href="stylesheets/clients.css")

  block loadScript
    script(src="javascripts/clients.js")

  block content
    - const skeleton = [0,1,2,3,4]

    p.medium-font.p-0 Companies
    
